transformers @ git+https://github.com/huggingface/transformers.git@a1afecaeb0fb0fc4d80142044b5d1815155ffdcf
sam3 @ git+https://github.com/Guereak/sam3.git
accelerate==1.11.0
huggingface_hub==1.1.5
torch
torchvision==0.24.1
requests
pillow
dotenv
matplotlib
einops
decord
opencv-python<4.12
pycocotools
